.panel-heading{
  text-align: center;
}

.panel-body {
  text-align: center;
}

.panel-body p{
  font-size: 18px;
}


.well {
  padding-left: 50px;
  background-color: #e6f9ff;
}

.well p{
  font-size: 18px;
}

.well h1{
  text-align: center;
}

img{
  width: 150px;
  height: 150px;
  float: left;
}

.jumbotron {
  background-color: #e6f9ff;
  overflow: hidden;
}


.panel-title{
  color: black;
}

.panel-heading h3{
  font-family: fantasy;
}

.panel-heading h1{
  font-size: 20px;
}

.jumbotron {
  text-align: center;

}

.jumbotron ul{
  float: right;
}

h1 {
  font-family: serif;
}

body {
  background-color: black;

}
