.panel-heading{
  text-align: center;
}

.panel-body {
  text-align: center;
}


.well {
  padding-left: 50px;
}

img{
  width: 250px;
  height: 250px;
  float: right;
}

.jumbotron {
  overflow: hidden;
}
